.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}
.imgContainer{
    grid-column: 1;
    grid-row: 1/2;
    width: 100%;
}
.imgDetail{
    width: 90%;
    text-align: center;
}
.dataContainer{
    grid-column: 2;
    grid-row: 1/2;
    width: 50%;
}
.relacionados{
    grid-column: 1/3;
    grid-row: 2;
}