.itemList{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:space-around;
    margin: 1rem 0;
}

.imgCard{
    width: 100%;
}

@media (max-width: 600px){
    .itemList{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content:center;
        margin: 1rem 0;
    }
    
    .imgCard{
        width: 100%;
    }

}

