.navBarItems{
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: var(--yellow-green-crayola);
    text-decoration: none;

}

.navBarLogo{
    font-family: 'Montserrat', sans-serif;
    margin-left:0rem;
    font-weight: 700;
}

.navBarLogo:hover{
    color: black;
}
.listItems{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
    margin-right:2rem;
    
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color:#000;
}
.menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}