:root {
  --yellow-green-crayola: #d4e09bff;
  --light-goldenrod-yellow: #f6f4d2ff;
  --tea-green: #cbdfbdff;
  --dark-salmon: #f19c79ff;
  --medium-carmine: #a44a3fff;
}
body {
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://res.cloudinary.com/dippgvhr3/image/upload/v1634937385/vegan/portada");

  height: 90vh;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.contenedorHeader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-link {
  color: #61dafb;
}
.titulo {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
